<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
  <main>
    <h1>Welcome <%=locals.currentUser%></h1>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Delete URL</th>
        <th>Edit URL Link</th>
      </tr>
      <% for(let property in urls) { %>
      <tr>
        <td><%=property%> =></td>
        <td><%= urls[property] %></td>
        <% let deleteURL = "/u/" + property + "/delete"; %>
        <% let modifyURL = "/urls/" + property; %>
        <td>
          <form method="POST"  action=<%=deleteURL %>>
            <button  type="submit" class="btn btn-primary">DELETE</button>
          </form>
          </td>
          <td>
          <form method="GET"  action=<%=modifyURL %>>
            <button  type="submit" class="btn btn-primary">EDIT</button>
          </form>
        </td>
      </tr>
      <% }; %>
    </table>         
    <footer>
    </footer>
  </main>
</body>

</html>